/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.card-info {
	font-family: "Lato";
	display: flex;
	align-items: center;
	width: 45%;
    margin: 2rem 0;
	padding: 3% 9% 3% 9%;
	cursor: pointer;
	overflow: hidden;
	transition: width 0.5s ease;
	min-height: 120px;
	background-color: #ececfa;
	border-radius: 0 11rem 11rem 0;
	font-family: 'Open Sans', sans-serif;
	color: #2f228c;
	min-height: 400px;

	& h3 {
		font-size: 48px;
		font-weight: bold;
		color: #2f228c
	}
}

.card-info img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	flex-shrink: 0;
}

.card-content {
	flex: none;
	padding: 1.5rem;
	width: 35%;
    max-width: 250px;

	& p,
	& h3 {
		margin: 3px 0;
	}

	& .icon {
		width: 25px;
		height: 25px;
	}

	& .card-content-info {
		font-family: "Lato";
		display: flex;
		font-size: 30px;
		align-items: center;
		gap: 0.5rem;
		
		&--icon{
			display: flex;
		}
	}
}

.expand-content {
	flex-grow: 1;
	overflow: hidden;
	transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 0;
	width: 0;
	height: 120px;
    max-height: 17rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	& p {
		margin: 3px 0;
		font-size: 22px;
		font-family: "Lato";
	}
}

.card-info.expanded {
	width: 80%;
}

.card-info.expanded .expand-content {
	width: auto;
    padding: 3rem;
}

.card-wrapper.rtl .card-info {
    margin: 0;
    border-radius: 11rem 0 0 11rem;
}

.card-wrapper.rtl {
    display: flex;
    justify-content: end;
}